body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}
{border-radius: 15px;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 4px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: firebrick;
  color: white;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn, .signupbtn {
  float: left;
  width: 60%;
}

.container {
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}